

.dashboard_content .ant-col.ant-form-item-label {
  background: #fff;
  padding: 0 5px;
  margin-bottom: -15px;
  z-index: 999;
  left: 16px;
  width: fit-content;
}

.dashboard_content .ant-input {
  background: #fff !important;
  border: 2px solid #e2dfdf !important;
  font-size: 14px;
  height: 50px;
}

.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
    display: none !important;
}